listen          = "0.0.0.0:4444"

[logging]
  service       = "ethgas-local"
  level         = "INFO"
  json          = false
  concise       = true

[auth]
  jwt_secret    = "xxx"

[networks]
  mainnet       = { title = "Ethereum", url = "https://etc/mainnet",   min_gas_price = 1_000_000_000, use_eip_1559 = false }
  polygon       = { title = "Polygon",  url = "https://etc/polygon",   min_gas_price = 30_000_000_000, use_eip_1559 = true }
  arbitrum      = { title = "Arbitrum", url = "https://etc/arbitrum",  min_gas_price = 100_000_000, use_eip_1559 = true }
  bsc           = { title = "BSC",      url = "https://etc/bsc",       min_gas_price = 1_000_000_000, use_eip_1559 = true }
