listen          = "0.0.0.0:4444"

[logging]
  service       = "ethgas-local"
  level         = "INFO"
  json          = false
  concise       = true

[auth]
  jwt_secret    = "xxx"

[networks]
  mainnet       = { pos = 1,  title = "Ethereum",      chain_id = 1,          token = "ETH",    url = "https://etc/mainnet",        min_gas_price = 1_000_000_000, use_eip_1559 = true }
  polygon       = { pos = 2,  title = "Polygon",       chain_id = 137,        token = "MATIC",  url = "https://etc/polygon",        min_gas_price = 30_000_000_000, use_eip_1559 = true }
  arbitrum      = { pos = 3,  title = "Arbitrum",      chain_id = 42161,      token = "ETH",    url = "https://etc/arbitrum",       min_gas_price = 100_000_000, use_eip_1559 = true }
  arbitrum-nova = { pos = 4,  title = "Arbitrum Nova", chain_id = 42170,      token = "ETH",    url = "https://etc/arbitrum-nova",  min_gas_price = 10_000_000, use_eip_1559 = true }
  optimism      = { pos = 5,  title = "Optimism",      chain_id = 10,         token = "ETH",    url = "https://etc/optimism",       min_gas_price = 1_000_000, use_eip_1559 = true }
  bsc           = { pos = 6,  title = "BSC",           chain_id = 56,         token = "BNB",    url = "https://etc/bsc",            min_gas_price = 1_000_000_000, use_eip_1559 = true }
  avalanche     = { pos = 7,  title = "Avalanche",     chain_id = 43114,      token = "AVAX",   url = "https://etc/avalanche",      min_gas_price = 1_000_000_000, use_eip_1559 = true }

[api]
  get_price     = "https://etc/rpc/API/GetCoinPrices"
