listen          = "0.0.0.0:4444"

[logging]
  service       = "ethgas-local"
  level         = "INFO"
  json          = false
  concise       = true

[auth]
  jwt_secret    = "xxx"

[ethereum]
  url           = "https://mainnet.infura.io/v3/xxx"
